body{
  margin-top:5%;
  text-align:center;
  background-color:#000029;
  background-size:cover;
}

.myButton{
  font-family: Goudy Old Style;
  width:50%;
  height:40px;
  position:auto;
  background: #0688fa;
  color:yellow;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
}


.textHere {
    font-size:150%;
    color: yellow;
    position: auto;
    width: 50%;
    padding: 5%;
    margin: auto;
}

@media only screen and (max-width: 650px) {
    .myButton{
      font-size: 15px;
    }
}